@import '../../main.scss';

.kit-input--container {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
}

.kit-input {
    width: 100%;
    height: 36px;
    line-height: 30px;
    padding: 0 .6rem;
    border: 1px solid var(--primary-btn-color);
    outline: none;
    background-color: #efefef;
    color: var(--text-color);
    transition: .3s ease;
    &.kit-input--disabled {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
    }
}
.kit-input--error {
    border: 1px solid var(--error-color);
}

.kit-input--standard {
    border-radius: var(--corners-standard);
}
.kit-input--round {
    border-radius: var(--corners-round);
}
.kit-input--square {
    border-radius: var(--corners-square);
}

.kit-input-secondary-text {
    font-size: 12px;
    line-height: 24px;
    margin-left: .8rem;
}

.kit-input::placeholder, .kit-input-bottomtext {
    color: var(--text-color-secondary);
}
.kit-input-errortext {
    color: var(--error-color);
}
.kit-input--label {
    color: var(--text-color);
}

.kit-input:focus, .kit-input:hover {
    outline: none;
}

.kit-input--icon-container {
    position: absolute;
    right: .4rem;
    fill: none;
    display: flex;
}

.kit-input--icon {
    padding: 4px;
}