@import '../../main.scss';

.kit-btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  line-height: 1;
  font-family: var(--font-family);
  transition: background-color 0.3s ease;
  padding: 8px 16px;
  &.kit-btn--icon {
    padding: 8px;
  }
  &:active {
    transform: translateY(0.5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  }
  &.kit-icon {
    pointer-events: none;
  }
  &.kit-btn--disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}

// type
.kit-btn--primary {
  background-color: var(--primary-btn-color);
  color: var(--secondary-btn-color);
  & > div > .kit-btn--svg {
    background-color: var(--secondary-btn-color);
  }
  &:hover {
    background-color: var(--hover-btn-color);
  }
}
.kit-btn--secondary {
  border: 1px var(--primary-btn-color) solid;
  background-color: transparent;
  color: var(--primary-btn-color);
  & > div > .kit-btn--svg {
    background-color: var(--primary-btn-color);
  }
  &:hover {
    background-color: var(--hover-btn-color);
    color: var(--secondary-btn-color);
    border: 1px var(--hover-btn-color) solid;
    & > div > .kit-btn--svg {
      background-color: var(--secondary-btn-color);
    }
  }
}
.kit-btn--transparent {
  border: none;
  background-color: transparent;
  color: var(--primary-btn-color);
  & > div > .kit-btn--svg {
    background-color: var(--primary-btn-color);
  }
  &:hover {
    color: var(--hover-btn-color);
    & > div > .kit-btn--svg {
      background-color: var(--hover-btn-color);
    }
  }
  &:active {
    box-shadow: unset;
  }
}

// size
.kit-btn--small {
  font-size: 12px;
  & > div > .kit-btn--svg {
    width: 20px;
    height: 20px;
  }
  &:not(.kit-btn--icon) > .kit-container--h > .kit-btn--svg {
    width: 16px;
    height: 16px;
  }
  &:not(.kit-btn--icon) > .kit-container--v > .kit-btn--svg {
    width: 24px;
    height: 24px;
  }
}
.kit-btn--medium {
  font-size: 14px;
  & > div > .kit-btn--svg {
    width: 24px;
    height: 24px;
  }
  &:not(.kit-btn--icon) > .kit-container--h > .kit-btn--svg {
    width: 20px;
    height: 20px;
  }
  &:not(.kit-btn--icon) > .kit-container--v > .kit-btn--svg {
    width: 28px;
    height: 28px;
  }
}
.kit-btn--large {
  font-size: 16px;
  & > div > .kit-btn--svg {
    width: 32px;
    height: 32px;
  }
  &:not(.kit-btn--icon) > .kit-container--h > .kit-btn--svg {
    width: 24px;
    height: 24px;
  }
  &:not(.kit-btn--icon) > .kit-container--v > .kit-btn--svg {
    width: 32px;
    height: 32px;
  }
}

// border-radius
.kit-btn--standard {
  border-radius: 0.65em;
}
.kit-btn--round {
  border-radius: 3em;
}
.kit-btn--square {
  border-radius: 0;
}

// icons
.kit-btn--icon {
  //min-width: 44px;
  //width: 44px;
  //height: 44px;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.kit-btn--svg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

// вынести в контейнеры
.kit-container--v {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}
.kit-container--h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  gap: 8px;
}