$primary-color: #069684;

.kit-btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// type
.kit-btn--primary {
  background-color: $primary-color;
  color: white;
}
.kit-btn--secondary {
  border: 1px $primary-color solid;
  background-color: transparent;
  color: $primary-color;
}
.kit-btn--transparent {
  border: none;
  background-color: transparent;
  color: $primary-color;
}

// size
.kit-btn--small {
  padding: 10px 16px;
  font-size: 12px;
}
.kit-btn--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.kit-btn--large {
  padding: 12px 24px;
  font-size: 16px;
}

// border-radius
.kit-btn--standard {
  border-radius: 0.65em;
}
.kit-btn--round {
  border-radius: 3em;
}
.kit-btn--square {
  border-radius: 0;
}

// icons
.kit-btn--icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
