$primary-btn-color: #069684;
$secondary-btn-color: #fff;
$hover-btn-color: #c06329;

.kit-btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  line-height: 1;
  min-width: 64px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease;
  margin: 8px;    // !!! test
  &:active {
    transform: translateY(0.5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  }
}

// type
.kit-btn--primary {
  background-color: $primary-btn-color;
  color: $secondary-btn-color;
  &:hover {
    background-color: $hover-btn-color;
  }
}
.kit-btn--secondary {
  border: 1px $primary-btn-color solid;
  background-color: transparent;
  color: $primary-btn-color;
  &:hover {
    background-color: $hover-btn-color;
    color: $secondary-btn-color;
    border: 1px $hover-btn-color solid;
  }
}
.kit-btn--transparent {
  border: none;
  background-color: transparent;
  color: $primary-btn-color;
  &:hover {
    color: $hover-btn-color;
  }
  &:active {
    box-shadow: unset;
  }
}

// size
.kit-btn--small {
  padding: 10px 16px;
  font-size: 12px;
}
.kit-btn--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.kit-btn--large {
  padding: 12px 24px;
  font-size: 16px;
}

// border-radius
.kit-btn--standard {
  border-radius: 0.65em;
}
.kit-btn--round {
  border-radius: 3em;
}
.kit-btn--square {
  border-radius: 0;
}

// icons
.kit-btn--icon {
  min-width: 44px;
  width: 44px;
  height: 44px;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
