@import '../../main.scss';

.kit-modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInOverlay 0.2s ease-out;
}

.kit-modal {
  background-color: var(--bg-color);
  position: relative;
  max-width: 420px;           // TODO убрать?
  width: 100%;                // TODO убрать?
  min-height: 200px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  animation: fadeInModal 0.2s ease-out;
}

// border-radius
.kit-modal--standard {
  border-radius: var(--corners-standard);
}
.kit-modal--round {
  border-radius: var(--corners-round);
}
.kit-modal--square {
  border-radius: var(--corners-square);
}

// animations
@keyframes fadeInOverlay {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeInModal {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}