:root {
  /** текст */
  --font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --text-color: #2e3242;
  --text-color-secondary: #94a3b8;

  --error-color: #ef4949;

  /** основной фон */
  --bg-color: #fff;

  /** кнопки */
  --primary-btn-color: #7C3AED;
  --secondary-btn-color: #FFFFFF;
  --hover-btn-color: #6D28D9;

  /** углы элементов */
  --corners-standard: 0.65em;
  --corners-round: 3em;
  --corners-square: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  //outline: none;
  //text-decoration: none;
  //line-height: 15px;
  //color: rgba(14, 10, 255, 0.6);
}