:root {
  /** текст */
  --font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /** основной фон */
  --bg-color: #fff;

  /** кнопки */
  --primary-btn-color: #201f26;
  --secondary-btn-color: #83efef;
  --hover-btn-color: #201f27;

  /** углы элементов */
  --corners-standard: 0.65em;
  --corners-round: 3em;
  --corners-square: 0;
}