:root {
  /** текст */
  --font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --text-color: #111827;

  /** основной фон */
  --bg-color: #fff;

  /** кнопки */
  --primary-btn-color: #000000;
  --secondary-btn-color: #FACC15;
  --hover-btn-color: #1F2933;

  /** углы элементов */
  --corners-standard: 0.65em;
  --corners-round: 3em;
  --corners-square: 0;
}